@charset "UTF-8";
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  color: #ffffff;
  font-family: "Javanese Text";
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  font-size: 23px;
  font-weight: 400;
}

.button {
  text-decoration: none;
  padding: 15px 50px 10px 50px;
  font-size: 14px;
  background-color: #d91626;
  font-weight: 600;
}

.button .text {
  font-size: 18px;
}

.block-first {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -ms-grid-rows: 1fr 10fr;
      grid-template-rows: 1fr 10fr;
      grid-template-areas: ". . ." ". layer .";
  background: url(/img/wcnsRyRCsFY.jpg) no-repeat;
  background-size: cover;
}

.block-first-layer {
  position: relative;
  min-height: 700px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: layer;
  background: #361919;
  background: rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 0px 30px 5px #000000;
          box-shadow: 0px 0px 30px 5px #000000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 1fr 1fr;
      grid-template-columns: 2fr 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 6fr 1fr 2fr;
      grid-template-rows: 1fr 6fr 1fr 2fr;
      grid-template-areas: "header header . ." "text text . ." "button1 button1 . ." ". . . .";
}

.block-first-layer-gradient {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(12, 11, 16, 0.8)), to(#0c0b10));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 11, 16, 0.8), #0c0b10);
}

.block-first-layer-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  text-align: center;
  padding: 80px 60px 0 60px;
}

.block-first-layer-text h2 {
  font-size: 40px;
}

.block-first-layer-button {
  text-align: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: button1;
}

.block-first-layer-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  text-align: center;
}

.block-first-layer-header-link {
  display: inline-block;
  padding: 25px;
}

.block-first-layer-header-link:hover {
  background-color: rgba(133, 32, 40, 0.3);
}

.block-background {
  position: relative;
  background: url(/img/Слой_1.png);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  -ms-grid-rows: 2fr 2fr 1fr;
      grid-template-rows: 2fr 2fr 1fr;
      grid-template-areas: ". gradient_background ." ". gradient_background ." ". footer . ";
}

.block-background-gradient {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(12, 11, 16, 0.6)), to(#0c0b10));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 11, 16, 0.6), #0c0b10);
  bottom: 0;
  width: 100%;
  height: 90%;
}

.block-background-gradient_background {
  z-index: 999;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: gradient_background;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c4a5e), color-stop(#4d4c5f), to(rgba(77, 76, 95, 0.1)));
  background: linear-gradient(#4c4a5e, #4d4c5f, rgba(77, 76, 95, 0.1));
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "about_us" "selected_work";
  -webkit-box-shadow: 0px 0px 30px 5px #000000;
          box-shadow: 0px 0px 30px 5px #000000;
}

.block-background-gradient_background-second {
  position: relative;
  background: #2d2c3a;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about_us;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20fr 1fr;
      grid-template-rows: 20fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "about profile" "half_circle half_circle";
}

.block-background-gradient_background-second .half_circle {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: half_circle;
  width: 130px;
  height: 65px;
  border-radius: 90px 90px 0 0;
  background: #4e4c5f;
}

.block-background-gradient_background-second .about {
  text-align: right;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 9fr;
      grid-template-columns: 2fr 9fr;
  -ms-grid-rows: 1fr 1.5fr 6fr 4fr 1fr;
      grid-template-rows: 1fr 1.5fr 6fr 4fr 1fr;
      grid-template-areas: ". ." ". h2" ". first_text" ". second_text" ". ." ". .";
}

.block-background-gradient_background-second .about h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: h2;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.block-background-gradient_background-second .about .first_text {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: first_text;
}

.block-background-gradient_background-second .about .second_text {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: second_text;
}

.block-background-gradient_background-second .profile {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: profile;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.5fr 4fr 2fr 4fr 1fr;
      grid-template-rows: 1fr 1.5fr 4fr 2fr 4fr 1fr;
      grid-template-areas: "." "h22" "first_avatar" "contact_me" "second_avatar" ".";
}

.block-background-gradient_background-second .profile h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: h22;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.block-background-gradient_background-second .profile-first_avatar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: first_avatar;
}

.block-background-gradient_background-second .profile-first_avatar-links {
  position: relative;
}

.block-background-gradient_background-second .profile-first_avatar .whatsapp {
  right: 20px;
  top: -35px;
}

.block-background-gradient_background-second .profile-first_avatar .github {
  left: 20px;
  top: -35px;
}

.block-background-gradient_background-second .profile-second_avatar {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: second_avatar;
}

.block-background-gradient_background-second .profile-second_avatar-links {
  position: relative;
}

.block-background-gradient_background-second .profile-second_avatar-links-whatsapp {
  right: 20px;
  top: -35px;
}

.block-background-gradient_background-second .profile-second_avatar-links-github {
  left: 20px;
  top: -35px;
}

.block-background-gradient_background-second .profile-button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact_me;
  margin-top: 50px;
}

.block-background-gradient_background-third {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: selected_work;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 4fr 1fr;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
      grid-template-areas: "h222 h222 h222 h222"  ". pp cartoons .";
}

.block-background-gradient_background-third .cartoons {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cartoons;
}

.block-background-gradient_background-third .cartoons .cartoon1 {
  position: relative;
  background-size: cover;
  width: 554px;
  height: 260px;
  background: url(/img/code-1076536_1280.png) no-repeat;
  margin-bottom: -4px;
}

.block-background-gradient_background-third .cartoons .cartoon1 h3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 700;
}

.block-background-gradient_background-third .cartoon2 {
  position: relative;
  background-size: cover;
  width: 554px;
  height: 275px;
  background: url(/img/Слой_6.png) no-repeat;
  margin-bottom: -4px;
}

.block-background-gradient_background-third .cartoon2 h3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 700;
}

.block-background-gradient_background-third .cartoon3 {
  position: relative;
  background-size: cover;
  width: 554px;
  height: 259px;
  background: url(/img/Слой_7.png) no-repeat;
}

.block-background-gradient_background-third .cartoon3 h3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 700;
}

.block-background-gradient_background-third h2 {
  padding: 0;
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: h222;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 50px;
  color: #000000;
  text-transform: uppercase;
}

.block-background-gradient_background-third p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pp;
  text-align: right;
  margin-right: 30px;
}

.block-background .footer {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: footer;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 2fr 2fr;
      grid-template-rows: 1fr 1fr 1fr 2fr 2fr;
      grid-template-areas: "input1 textarea" "input2 textarea" ". ."  "send_mail send_mail" ". .";
  margin-top: 30px;
}

.block-background .footer .input1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input1;
}

.block-background .footer .input2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: input2;
}

.block-background .footer .inputs {
  width: 308px;
  height: 68px;
  border-radius: 10px;
  border: 2px solid #c1c1c1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 20px;
  background-color: #092f36;
  color: white;
  font-size: 20px;
  padding: 40px 30px;
  outline: none;
}

.block-background .footer .inputs::-webkit-input-placeholder {
  color: #d3c7c7;
}

.block-background .footer .inputs::-moz-placeholder {
  color: #d3c7c7;
}

.block-background .footer .inputs:focus {
  border: 3px solid white;
}

.block-background .footer textarea {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: textarea;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  border-radius: 10px;
  background-color: #092f36;
  outline: none;
  border: 2px solid #c1c1c1;
  font-size: 20px;
  color: white;
  padding: 20px;
  height: 178px;
}

.block-background .footer textarea:focus {
  border: 3px solid white;
}

.block-background .footer textarea::-webkit-input-placeholder {
  color: #d3c7c7;
}

.block-background .footer textarea::-moz-placeholder {
  color: #d3c7c7;
}

.block-background .footer a {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: send_mail;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.block-background .footer a .text {
  font-size: 22px !important;
}
/*# sourceMappingURL=style.css.map */